<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="pika-polymer-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <slot></slot>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PikaPolymerApp extends Polymer.Element {
      static get is() { return 'pika-polymer-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'QUE PASA PIKACHUUU'
          }
        };
      }
      constructor() {

        //Acceso al elemento como tal
        super();
        console.log("created");
        // console.log(this);
        // console.log(this.$);
        // console.log(this.$.prop1);

      }

      ready() {
        //Acceso al local DOM
        super.ready();
        console.log("ready");
        console.log(this);
        console.log(this.$);
      }

      connectedCallback() {
        //Acceso al Document de la Web en general, salir del elemento a fuera
        super.connectedCallback();
        console.log("attached");
      }

      disconnectedCallback() {
        //Quitar los liseners, eliminar eventos
        super.disconnectedCallback();
        console.log("detached");
      }

      attributeChangedCallback() {
        super.attributeChangedCallback();
        //Cuando alguno de los atributos del compoennte cambia que no son properties salta este evento
      }

    }

    window.customElements.define(PikaPolymerApp.is, PikaPolymerApp);
  </script>
</dom-module>
